.booklist {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
}

.book-card {
  background: whitesmoke;
  padding: 10px;
  border-radius: 8px;
}

.book-cover {
  width: 100%;
}
