ul {
  list-style: none;
  display: flex;
  gap: 30px;
}

.Header {
  border: 1px solid black;
  margin: 5px 20px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

li {
  font-size: 30px;
  text-align: center;
}
