* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.book-card {
  width: 350px;
  height: 450px;
  background-color: whitesmoke;
  margin: 20px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  transition: transform 0.2s;
}
.book-card:hover {
  transform: scale(1.1);
}
.book-title {
  font-size: 1em;
  margin-bottom: 10px;
}
.book-author {
  font-size: 0.9em;
  margin-bottom: 10px;
  color: #555;
}
.book-cover {
  width: 100%;
}
.book-details {
  padding: 15px;
}
.booklist {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  padding: 20px;
  justify-items: center;
}
.book-description {
  color: rgba(21, 41, 220, 0.786);
  text-align: center;
  font-weight: 900;
}
.search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
.search-input {
  width: 400px;
  height: 50px;
  margin: 20px;
}
